.Container--contact{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    background: gray;
}

@media (max-width: 850px) {
    .Container--contact{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}



