:root{
  --black-color: #0000;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.Container{
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}

.Spacing{
  margin-inline: 2rem;
}

@media (max-width: 850px) {
  .Spacing{
    margin-inline: 0.5rem;
  }
}
